<div>
  <form class="filtro-form" [formGroup]="form" (ngSubmit)="onFiltrar()">
    <div class="filtro-header">
      <h3 class="filtro-titulo">Filtros de Busca</h3>
    </div>

    <div class="filtro-campos">
      <!-- Empresa -->
      <mat-form-field appearance="outline" class="campo-customizado">
        <mat-label>Empresa</mat-label>
        <mat-select
          formControlName="empresaId"
          placeholder="Selecione a empresa"
        >
          <mat-option [value]="''">
            <span class="option-all">Todas as empresas</span>
          </mat-option>
          <mat-option *ngFor="let e of empresas" [value]="e.empresaId">
            {{ e.nome }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Fundo -->
      <mat-form-field appearance="outline" class="campo-customizado">
        <mat-label>Fundo</mat-label>
        <mat-select formControlName="fundoId" placeholder="Selecione o fundo">
          <mat-option [value]="''">
            <span class="option-all">Todos os fundos</span>
          </mat-option>
          <mat-option *ngFor="let f of fundos" [value]="f.fundoId">
            {{ f.nome }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="filtro-acoes">
      <button
        mat-stroked-button
        color="accent"
        type="button"
        (click)="limpar()"
        class="btn-limpar"
      >
        Limpar
      </button>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="btn-buscar"
      >
        Buscar
      </button>
    </div>
  </form>
</div>
