table {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

th {
  font-weight: 600;
  background-color: #f7f7f7;
}

.row-clickable {
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #f0f0f0;
  }
}

.input-taxa {
  width: 100% !important;
}
